/* Mettre à jour les unités relatives à la fin */

* {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "Poppins", sans-serif;
}

section {
	height: 100vh;
	width: 100%;
}

.container {
	width: 100%;
	height: 100vh;
}

.nav-wrapper {
	width: 100%;
	font-size: 1.5em;

	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	align-items: center;
	padding: 20px 0;
}

.nav-wrapper h4 {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	margin-left: 30px;
}

.nav-wrapper .button {
	text-decoration: none;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	padding: 10px 20px;
	background-color: #030000;
	margin-right: 30px;
	border-radius: 20px;
	font-size: 0.8em;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 100px;
}

.images {
	width: 100%;
	height: 110%;
	position: relative;
	z-index: -1;
	top: -10%;
}

.image-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
}

.blur {
	width: 120%;
	margin-left: -10%;
	height: 250px;
	background-color: #030000;
	position: absolute;
	bottom: -180px;
	filter: blur(40px);
	z-index: 999;
}

.footer-wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 1.5em;
}

.footer-wrapper a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin-bottom: 20px;
	margin-right: 30px;
}

li {
	display: inline;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 0.8em;
	margin-left: 20px;
}

.content {
	height: 100%;
	width: 100%;
	background-color: #030000;
	z-index: 0;
	top: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-images {
	width: 70%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.content-image-wrapper {
	height: 220px;
	width: 150px;
	text-align: center;
	position: relative;
}

.content-image-wrapper img {
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 100%;
}

.one {
	top: -10px;
}

.two {
	top: -50px;
}

.three {
	top: 20px;
}

.four {
	top: -20px;
}

.content-image-wrapper h4 {
	font-size: 1.8em;
	position: relative;
	top: -30px;
	opacity: 0.6;
}

.text {
	padding-top: 100px;
	width: 60%;
	font-size: 0.8em;
	text-align: center;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 1200px) {
	.title {
		font-size: 5vw;
		left: 50%;
	}

	.footer-wrapper {
		font-size: 1em;
	}

	.nav-wrapper {
		font-size: 1em;
	}
}

@media only screen and (max-width: 992px) {
	.title {
		font-size: 6vw;
		left: 50%;
	}

	.content-image-wrapper {
		width: calc(50% - 20px);
	}
}

@media only screen and (max-width: 768px) {
	.nav-wrapper {
		padding: 10px 0;
	}

	.title {
		font-size: 8vw;
		left: 50%;
	}

	.content-image-wrapper {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.title {
		font-size: 10vw;
		left: 50%;
	}

	.content-image-wrapper {
		width: calc(100% - 20px);
	}

	.footer-wrapper {
		font-size: 0.8em;
	}

	.nav-wrapper {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 480px) {
	.title {
		font-size: 12vw;
		left: 50%;
	}

	.footer-wrapper {
		font-size: 0.8em;
	}

	.content-image-wrapper {
		width: calc(100% - 10px);
	}

	.nav-wrapper {
		font-size: 0.8em;
	}
}
